<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="brandon_wallace">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ILoveTherma</title>

  </head>

  <body>

    <noscript>
      <p style="color:#FC0000;text-align:center">Please enable Javascript</p>
    </noscript>

    <header>

      <h1>I Love Therma</h1>

    </header>

    {% block body %}

    {% endblock %}

    <footer>

      <p>&copy; 2021</p>

    </footer>

  </body>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>
