{# application/templates/forum/index.html #}

{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block body %}

  <main>

    <p>datetime: {{ now if now }}</p>
    <p>method: {{ method if method }}</p>
    <p>ip address: {{ ip_address if ip_address }}</p>
    <p>latitude: {{ lat if lat }}</p>
    <p>longitude: {{ lon if lon }}</p>
    <p>user agent: {{ user_agent if user_agent }}</p>
    <p>host: {{ host if host }}</p>
    <p>referer: {{ referer if referer }}</p>
    <p>country code2: {{ country_code2 if country_code2 }}</p>
    <p>country name: {{ country_name if country_name }}</p>
    <p>state prov: {{ state_prov if state_prov }}</p>
    <p>district: {{ district if district }}</p>
    <p>city: {{ city if city }}</p>
    <p>zipcode: {{ zipcode if zipcode }}</p>

  </main>

{% endblock %}
